
body{
	margin: 0 auto;
	width: 460px;  
	background-color: black; 
  }
  
  
  
  div{
	border: 1px solid white;
	  margin: 1px;  
	  height: 50px;
	  width: 50px;
	  display: inline-block;
	background-color: black;
  }
  
  #container {
	border: 3px solid white;
	  margin: 0 auto;
	  height: 440px;
	  width: 430px;
	  display: inline-block;
  
  }
  
